{% extends 'layout.html'%}
{% block titulo %}Título{% endblock %}
{% block contenido %}

<section>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> 
          
          <div class="panel panel-default">
              <div class="panel-heading">
                <b class="panel-title">Metros perforados</b>
              </div>
              <div class="panel-body">
                <div id="graficouno"></div>
              </div>
          </div>
          
        </div>
    </div>
</section>




  <style>

  .bar{
    fill: steelblue;
  }

  .bar:hover{
    fill: brown;
  }

  .axis {
    font: 10px sans-serif;
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
    </style>
<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="https://ajax.microsoft.com/ajax/jquery/jquery-1.4.2.js" type="text/javascript"></script>
<script>
// set the dimensions of the canvas
//reload.location(3);
$(document).ready(function() {
  setInterval(function() {
    cache_clear()
  }, 3000);
});
function cache_clear() {
  updateData();
  //window.location.reload(true);
  // window.location.reload(); use this if you do not remove cache
}



var margin = {top: 20, right: 20, bottom: 70, left: 90},
    width = 800 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;


// set the ranges
var x = d3.scale.ordinal().rangeRoundBands([0, width], .05);

var y = d3.scale.linear().range([height, 0]);

// define the axis
var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom")


var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left")
    .ticks(10);



var svg = d3.select("#graficouno").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform",
          "translate(" + margin.left + "," + margin.top + ")");


// load the data
d3.json("/api/Detalle_actividad/", function(error, data) {

    data.forEach(function(d) {
        d.hora_inicio = d.hora_inicio;
        d.longitud_s = +d.longitud_s;
    });

  // scale the range of the data
  x.domain(data.map(function(d) { return convertirFechaNumeros(d.hora_inicio, d.hora_fin); }));
  y.domain([0, d3.max(data, function(d) { return d.longitud_s; })]);

  // add axis
  svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis)
    .selectAll("text")
      .style("text-anchor", "end")
      .attr("dx", "-.8em")
      .attr("dy", "-.55em")
      .attr("transform", "rotate(-90)" );

  svg.append("g")
      .attr("class", "y axis")
      .call(yAxis)
    .append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 5)
      .attr("dy", ".71em")
      .style("text-anchor", "end")
      .text("metros_perforados");


  // Add bar chart
  svg.selectAll("bar")
      .data(data)
    .enter().append("rect")
      .attr("class", "bar")
      .attr("x", function(d) { return x(convertirFechaNumeros(d.hora_inicio, d.hora_fin)); })
      .attr("width", x.rangeBand())
      .attr("y", function(d) { return y(d.longitud_s); })
      .attr("height", function(d) { return height - y(d.longitud_s); });

});


function updateData() {
  d3.json("/api/Detalle_actividad/", function(error, data) {

data.forEach(function(d) {
    d.hora_inicio = d.hora_inicio;
    d.longitud_s = +d.longitud_s;
});

// scale the range of the data
x.domain(data.map(function(d) { return convertirFechaNumeros(d.hora_inicio, d.hora_fin); }));
y.domain([0, d3.max(data, function(d) { return d.longitud_s; })]);

// add axis
svg.append("g")
  .attr("class", "x axis")
  .attr("transform", "translate(0," + height + ")")
  .call(xAxis)
.selectAll("text")
  .style("text-anchor", "end")
  .attr("dx", "-.8em")
  .attr("dy", "-.55em")
  .attr("transform", "rotate(-90)" );

svg.append("g")
  .attr("class", "y axis")
  .call(yAxis)
.append("text")
  .attr("transform", "rotate(-90)")
  .attr("y", 5)
  .attr("dy", ".71em")
  .style("text-anchor", "end")
  .text("metros_perforados");


// Add bar chart
svg.selectAll("bar")
  .data(data)
.enter().append("rect")
  .attr("class", "bar")
  .attr("x", function(d) { return x(convertirFechaNumeros(d.hora_inicio, d.hora_fin)); })
  .attr("width", x.rangeBand())
  .attr("y", function(d) { return y(d.longitud_s); })
  .attr("height", function(d) { return height - y(d.longitud_s); });

});
}

</script>

<script>
function convertirFechaNumeros(fechainicio, fechafin){
  var resultado ="";
  var date = new Date(fechainicio);
  var minute = date.getMinutes();
  var hour = date.getHours();
  var day = date.getDate();
  var month = date.getMonth();
  var year = date.getFullYear();
  /*
  Fecha fin
  */
  var datefinal = new Date(fechafin);
  var minutefinal = datefinal.getMinutes();
  var hourfinal = datefinal.getHours();
  var dayfinal = datefinal.getDate();
  var monthfinal = datefinal.getMonth();
  var yearfinal = datefinal.getFullYear();
  resultado = hour + ":"+ minute + "-" + hourfinal + ":"+ minutefinal;  
  return resultado;
}

</script>

<!--
<section>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            


        </div>
    </div>
</section>
-->
{% endblock %}