{% extends 'layout.html'%}
{% block titulo %}Inicio{% endblock %}
{% block contenido %}

<section>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <div class="jumbotron">
                <div class="container">
                    <h3>Aplicación cocina</h3>
                    <p>Sistema de registro de menus y de pedidos.</p>
                    <p>
                        <a class="btn btn-primary btn-sm">Más información ...</a>
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>

{% endblock %}
