{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block titulo %}{% endblock %} - Buenaventura</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/angular-toastr.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body ng-app="app-buenaventura">
    <section>
        <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'dashboard' %}">Gourment App</a>
                </div>
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'dashboard' %}">Inicio</a></li>
                        <li><a href="{% url 'registro_diario' %}">Registro diario de pedidos</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Configuración</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ nombre }} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'login' %}">Cerrar sesión</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <b class="panel-title">Información de Usuario</b>
                        </div>
                        <div class="panel-body">
                            <div class="text-center">
                                <img src="https://openclipart.org/download/4749/acspike-male-user-icon.svg" width="100" class="img-circle img-thumbnail"><br><br>
                                <b>{{ nombre }}</b>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <b class="panel-title">Tareas</b>
                        </div>
                        <div class="list-group">
                            <a href="{% url 'dashboard' %}" class="list-group-item">Inicio</a>
                            <a href="{% url 'gestion_inicio' %}" class="list-group-item">Gestión</a>
                            <a href="{% url 'estadistica_inicio' %}" class="list-group-item">Estadísticas</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                    {% block contenido %}{% endblock %}
                </div>
            </div>
        </div>
    </section>
    <script src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/angular.min.js' %}"></script>
    <script src="{% static 'js/angular-resource.min.js' %}"></script>
    <script src="{% static 'js/angular-toastr.js' %}"></script>

    <script src="{% static 'js/app/app.js' %}"></script>
    <script src="{% static 'js/app/helpers/bootstrap-helper.js' %}"></script>
    <script src="{% static 'js/app/helpers/definicion-helper.js' %}"></script>
    <script src="{% static 'js/app/factories/base-factory.js' %}"></script>
    <script>
        var session_id_operador = {{ id }};
    </script>
    {% block scripts %}{% endblock %}
</body>

</html>
